<h5>Detalle del Libro</h5>
<table class="table table-bordered">
  <tr><th>Titulo</th><td><%= libro.titulo %></td></tr>
  <tr><th>Autor</th><td><%= libro.autor %></td></tr>
  <tr><th>Anio</th><td><%= libro.anio_publicacion %></td></tr>
  <tr><th>Genero</th><td><%= libro.genero %></td></tr>
  <tr><th>Edicion</th><td><%= libro.edicion %></td></tr>
</table>
<a href="/libros" class="btn btn-secondary">Volver</a>
